<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>LINKTREE</header>
    <div class="flash"><%=message%></div>
    <div class="createwebsite">
        create your website to host all your links  
        <a href="/website"><button>Create</button></a>
        or
    </div>
    <div class="view">
        <form action="/" method="post">
           <input type="text" name="name" placeholder="enter website name" required>
           <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>


<style>
    header{
        color: #FCBF49;
        font-size: 3em;
        margin-bottom: 4em;
        font-weight: bold;
    }
    .flash{
        color: #D62828;
        font-size: 2em;
    }
    body{
        color: #EAE2B7;
        background: linear-gradient(#233d4d,#003049);
        margin:0px;
        border:0px;
        font-family: 'Open Sans', sans-serif;
        min-height: 100vh;
        width: 100vw;
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        align-items:center;
    }
    .createwebsite{
        width: min(600px,90vw);
        font-size: 4em;
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .createwebsite button{
        font-size: 0.5em;
        width: min(600px,90vw);
    }
    .view button{
        font-size: 1.5em;
        margin-bottom: 2em;
    }
    button{
        border: none;
        color:white;
        background-color: #D62828;
        font-size: 1em;
        padding:0.5em 1em;
        border-radius: 10px;
        transition: 0.5s;
    }
    


    button:hover{
        color: #EAE2B7;
        background-color: crimson;
        transform: scale(1.05);
    }




    form{
        width: min(600px,90vw);
        display: flex;
        margin-top: 4em;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    input{
        background-color: #EAE2B7;
        width:80%;
        padding:0.5em 1em;
        border-radius: 10px;
        font-size: 1.2em;
        margin-bottom: 1em;
    }


    @media screen and (max-width: 600px){
        .createwebsite{
            font-size: 3em;
        }
        body{
            height: 100%;
        }
    }
</style>